:root.theme-dark {
  --font-family: 'IBM Plex mono', arial, sans-serif;
  --font-size-base: 18px;
  --color-text: #ff0070;
  --color-article-text: #f1b2ce;
  --color-header-menu-hover: #ff007066;
  --accent-color: #ff0070;
  --background-color: #000028;
  --color-title-decor-text: var(--background-color);
  --header-logo-color: #db00ff;
  --decorated-zone-background-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__lamp {
  display: initial;
}